
@model IEnumerable<BlueprintMediaServis.Models.BoardMembers>

@{
    ViewBag.Title = "BoardMembersList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>Pages - Admin Dashboard UI Kit - Blank Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no" />
    <link rel="apple-touch-icon" href="pages/ico/60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="pages/ico/76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="pages/ico/120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="pages/ico/152.png">
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link href="assets/plugins/pace/pace-theme-flash.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/jquery-scrollbar/jquery.scrollbar.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/switchery/css/switchery.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="pages/css/pages-icons.css" rel="stylesheet" type="text/css">
    <link class="main-stylesheet" href="pages/css/pages.css" rel="stylesheet" type="text/css" />
    <link rel="Stylesheet" type="text/css" href="~/blueprintmediaservis.css">

</head>

<body class="fixed-header">
    <div class="page-container">
        <div class="page-content-wrapper ">           
            <div class="content ">
                <div class="card card-transparent">
                    <div class="card-header ">
                        @if (ViewBag.Status != null)
                        {
                            if (ViewBag.Status.ToString().Equals("deleted"))
                            {
                                <div class="alert alert-success" role="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    <strong>İşlem Başarılı: </strong>Yönetici silindi.
                                </div>
                            }
                            else if (ViewBag.Status.ToString().Equals("itemNotFound"))
                            {
                                <div class="alert alert-warning" role="alert">
                                    <button class="close" data-dismiss="alert"></button>
                                    <strong>Uyarı: </strong>Yönetici bulunamadı.
                                </div>
                            }
                        }
                        <div class="card-title">
                            Değerlerimiz
                        </div>
                        <div class="tools">
                            <a class="collapse" href="javascript:;"></a>
                            <a class="config" data-toggle="modal" href="#grid-config"></a>
                            <a class="reload" href="javascript:;"></a>
                            <a class="remove" href="javascript:;"></a>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="table-responsive">
                            <table class="table table-hover table-condensed" id="condensedTable">
                                <thead>
                                    <tr>
                                        <th style="width:40%">Ad Soyad</th>
                                        <th style="width:40%">Pozisyon</th>
                                        <th style="width:20%">Eylemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td class="v-align-middle semi-bold">@item.name_tr</td>
                                            <td class="v-align-middle semi-bold">@item.position_tr</td>
                                            <td class="v-align-middle semi-bold">
                                                @Html.ActionLink("Düzenle", "Display", "UpdateBoardMember", new { id = item.id }, new { @class = "btn btn-primary" })
                                                @Html.ActionLink("Sil", "DeleteValue", "BoardMembersList", new { id = item.id }, new { @class = "btn btn-danger" })
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>